* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html, body, section {
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14pt;
	color: rgb(153,153,153);
}

section:not(#inicio) {
    padding-top: 60px;
}

section:focus {
    outline: none;
}

header {
    position: absolute;
    width: 100%;
    z-index: 9999;
    padding: 0;
}

.col:not(:first-child,:last-child) {
    padding-right: 7px !important;
    padding-left: 7px !important;
}

h2 {
    color: rgb(20,173,184);
    font-size: 34px;
}

a {
    text-decoration: none;
    color: inherit;
}

/*COLORES
turquesa rgb(20,173,184)  #14adb8;
gris rgb(153,153,153);
*/
.navbar {
    margin: 0;
    border: none;
}
.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
    padding: 5px 0;
    margin-left: 16px;
}

.navbar-brand img {
    max-height: 40px;
    height: 40px;
    margin: 0;
}
.navbar-nav > li > a {
    padding-bottom: 12px;
    color: rgb(153,153,153);
}

.navbar-nav > li.active > a {
    color: rgb(20,173,184);
}

nav li.active {
    color: rgb(20,173,184);
    border-bottom: 3px solid rgb(20,173,184);
}

nav.navbar {
    top: -60px;
    border-radius: 0;
    width: 100%;
}

nav.navbar.affix {
    top: 0;
    background: rgba(255,255,255,0.9);
}

#inicio {

}

#inicio .marca {
    height: 100vh;
}

#inicio .marca img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#inicio .horizontal-img {
    height: 30vh;
    margin: 1.6vh 0;
    overflow: hidden;
    position: relative;
    border-left: 10px solid rgb(20,173,184);
}

nav.navbar,
#inicio .horizontal-img * {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

#inicio .horizontal-img a {
    text-decoration: none;
    position: absolute;
    display: block;
    z-index: 999;
    height: 100%;
    width: 100%;
    background: rgba(20,173,184,.8);
    color: #FFFFFF;
    font-size: 24px;
    text-align: center;
    line-height: 30vh;
    left: -100%;
}

#inicio .horizontal-img img {
    position: absolute;
    width: 120%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#inicio .horizontal-img:nth-child(odd) {
    margin-left: -60px;
}

.no-touch #inicio .horizontal-img:hover a {
    left: 0;
}

.no-touch #inicio .horizontal-img:hover img {
    left: 55%;
}

/*** Nosotros ***/

#nosotros .container,
#contacto .container {
    width: 75%;
}

#nosotros .row {
    margin-top: 50px;
}

#nosotros figure {
    overflow: hidden;
    position: relative;
    height: 300px;
    min-height: 50vh;
}

#nosotros .row div:nth-child(even) figure {
    margin-top: 60px;
    border-bottom: 10px solid rgb(20,173,184);
}

#nosotros .row div:nth-child(odd) figure {
    border-top: 10px solid rgb(20,173,184);
}

#nosotros figure img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#nosotros figcaption {
    position: absolute;
    z-index: 999;
}

/*** Productos ***/
#productos .row {
    margin-top: 20px;
}

#productos .row > div {
    height: 40vh;
    border: 1px solid #FFF;
    padding: 0;
}

#productos .row > div:first-child {
    padding: 50px 20px;
}

#productos figure {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#productos figure img {
    position: absolute;
    min-width: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*** Contacto ***/
#contacto {
    min-height: auto;
    padding-bottom: 40px;
}

#contacto textarea {
    resize: none;
}

/*** Footer ***/

footer {
    background: rgb(100,100,100);
    color: #FFF;
    font-size: 18px;
    font-weight: 200;
    padding-top: 15px;
}

footer .col-* *{
    margin: 0 auto;
    margin-bottom: 5px;
}

footer .row div:first-child {
    text-align: center;
}

footer img {
    max-width: 200px;
    width: 100%;
}

footer .rrss {
    text-align: center;
}

footer ul {
    list-style: none;
}

footer .copyright {
    margin-top: 0;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #FFF;
    border-top: 1px solid rgb(20,173,184);
}

footer a.facebook:before {
    content: "\f09a";
}

footer a.twitter:before {
    content: "\f099";
}

footer a.youtube:before {
    content: "\f16a";
}


footer .rrss a {
    box-shadow: 0 0 0 2px rgba(20,173,184,1);
    overflow: hidden;
    -webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;

    display: inline-block;
    cursor: pointer;
    margin: 15px 25px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 0;
    color: #fff;
    font-family: 'FontAwesome';
}

footer .rrss a:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

    display: none;
}

footer .rrss a:before {
    speak: none;
    font-size: 20px;
    line-height: 40px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}

footer .rrss a:hover {
    background: rgba(20,173,184,1);
    box-shadow: 0 0 0 2px rgba(255,255,255,0.5);
    text-decoration: none;
}


footer .rrss a:hover:before {
    -webkit-animation: toTopFromBottom 0.3s forwards;
    -moz-animation: toTopFromBottom 0.3s forwards;
    animation: toTopFromBottom 0.3s forwards;
}

@-webkit-keyframes toTopFromBottom {
    49% {
        -webkit-transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}
@-moz-keyframes toTopFromBottom {
    49% {
        -moz-transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        -moz-transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}
@keyframes toTopFromBottom {
    49% {
        transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}



@media screen and (max-width: 576px) {
    nav.navbar.affix {
        background: rgba(255,255,255,1);
        box-shadow: 1px 1px 5px rgba(150,150,150,0.3);
    }

    #inicio .marca {
        height: 40vh;
    }

    #inicio .marca img {
        width: 80%;
    }

    #inicio .horizontal-img {
        height: 18vh;
        left: 0;
        border: none;
    }

    #inicio .horizontal-img:nth-child(odd) {
        margin-left: inherit;
    }

    #inicio .horizontal-img:nth-child(even) a{
        margin-left: 40%;
    }

    #inicio .horizontal-img a {
        text-decoration: none;
        position: absolute;
        display: block;
        z-index: 999;
        height: 100%;
        width: 60%;
        background: rgba(20,173,184,.7);
        color: #FFFFFF;
        font-size: 24px;
        text-align: center;
        line-height: 18vh;
        left: 0;
    }

    #nosotros .container,
    #contacto .container {
        width: 90%;
    }
}
