* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

*:focus {
    outline: none;
}

html, body, section {
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14pt;
	color: rgb(153,153,153);
}

section:not(#inicio) {
    padding-top: 60px;
}

section:focus {
    outline: none;
}

header {
    position: absolute;
    width: 100%;
    z-index: 9000;
    padding: 0;
}

.col:not(:first-child,:last-child) {
    padding-right: 7px !important;
    padding-left: 7px !important;
}

h2 {
    color: rgb(20,173,184);
    font-size: 34px;
}

a {
    text-decoration: none;
    color: inherit;
}

/*COLORES
turquesa rgb(20,173,184)  #14adb8;
gris rgb(153,153,153);
*/
.navbar {
    margin: 0;
    border: none;
}
.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
    padding: 5px 0;
    margin-left: 16px;
}

.navbar-brand img {
    max-height: 40px;
    height: 40px;
    margin: 0;
}
.navbar-nav > li > a {
    padding-bottom: 12px;
    color: rgb(153,153,153);
}

.navbar-nav > li.active > a {
    color: rgb(20,173,184);
}

nav li.active {
    color: rgb(20,173,184);
    border-bottom: 3px solid rgb(20,173,184);
}

nav.navbar {
    top: -60px;
    border-radius: 0;
    width: 100%;
}

nav.navbar.affix {
    top: 0;
    background: rgba(255,255,255,0.9);
}

#inicio {

}

#inicio .marca {
    height: 100vh;
}

#inicio .marca img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#inicio .horizontal-img {
    height: 30vh;
    margin: 1.6vh 0;
    overflow: hidden;
    position: relative;
}

@media screen and (min-width: 576px){
    #inicio .horizontal-img:before {
        content: "";
        position: absolute;
        left: 0;
        z-index: 1000;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15vh 0 15vh 45px;
        border-color: transparent transparent transparent #FFF;
    }

    #inicio .horizontal-img:after {
        content: "\232A";
        position: absolute;
        left: 0;
        z-index: 1001;
        width: 20px;
        height: 100%;
        color: rgb(153,153,153);
        line-height: 29vh;
        font-size: 50px;
    }
}

nav.navbar,
#inicio .horizontal-img * {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

#inicio .horizontal-img a {
    text-decoration: none;
    position: absolute;
    display: block;
    z-index: 999;
    height: 100%;
    width: 100%;
    background: rgba(20,173,184,.8);
    color: #FFFFFF;
    font-size: 24px;
    text-align: center;
    line-height: 30vh;
    left: -100%;
}

#inicio .horizontal-img img {
    position: absolute;
    width: 120%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#inicio .horizontal-img:nth-child(odd) {
    margin-left: -60px;
}

.no-touch #inicio .horizontal-img:hover a {
    left: 0;
}

.no-touch #inicio .horizontal-img:hover img {
    left: 55%;
}

/*** Nosotros ***/

#nosotros .container,
#contacto .container {
    width: 75%;
}

#nosotros .row {
    margin-top: 50px;
}

#nosotros .row div {
    margin-bottom: 40px;
}

#nosotros figure {
    overflow: hidden;
    position: relative;
    height: 300px;
    min-height: 40vh;
    margin: 0;
}

#nosotros h4 {
    padding: 10px 0;
    text-align: center;
}
#nosotros .row div:nth-child(odd) h4 {
    border-top: 5px solid rgb(20,173,184);
}

#nosotros .row div:nth-child(even) h4 {
    border-bottom: 5px solid rgb(20,173,184);
}

#nosotros figure img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#nosotros figure figcaption {
    position: absolute;
    z-index: 999;
    background: rgba(20,173,184,0.8);
    color: #FFF;
    padding: 15px;
    height: 100%;
    width: 100%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 0;
}

#nosotros .row div:nth-child(odd) figcaption {
    top: -100%;
}

#nosotros .row div:nth-child(even) figcaption {
    bottom: -100%;
}

#nosotros .row div:nth-child(odd):hover figcaption {
    top: 0;
    opacity: 1;
}

#nosotros .row div:nth-child(even):hover figcaption {
    bottom: 0;
    opacity: 1;
}

/*** Productos ***/
#productos .row {
    margin-top: 20px;
}

#productos .row > div {
    margin-bottom: 40px;
}

#productos figure {
    position: relative;
    overflow: hidden;
    height: 50vh;
}

#productos figure img {
    position: absolute;
    width: 110%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#productos figure:hover img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

#productos .left-half h4 {
    position: absolute;
    z-index: 999;
    background: rgba(255,255,255,1);
    width: 100%;
    margin: 0;
    padding: 10px;
    left: 0;
}
#productos .left-half a {
    height: 100%;
    width: 100%;
    display: block;
}
#productos .left-half a:focus {
    outline: none;
}

#productos .left-half a h4 {
    color: rgb(153,153,153);
}

#productos .left-half .row figure:nth-child(odd) h4 {
    bottom: 0;
    border-bottom: 5px solid rgb(20,173,184);
}

#productos .left-half .row figure:nth-child(even) h4 {
    border-top: 5px solid rgb(20,173,184);
}

#productos .right-half {
    text-align: right;
}

#productos .right-half figure {
    height: 40vh;
}

#productos .right-half a {
    border: 2px solid rgb(20,173,184);
    padding: 10px 20px;
    margin-top: 10px;
    display: inline-block;
}

#productos .right-half a:hover,
#productos .right-half a:focus,
#productos .right-half a:active {
    background: rgb(20,173,184);
    color: #FFF;
    text-decoration: none;
}

#productos .modal {
    z-index: 9999;
}

#productos .modal-dialog {
    width: 80%;
    min-height: 90vh;
}

#productos .modal-content {
    height: 90vh;
    border-radius: 0;
    overflow: hidden;
}

#productos .modal-header {
    background: rgb(20,173,184);
    color: #FFF;
    font-size: 20px;
    border: none;
}

#productos .modal-header button {
    color: #FFF;
    font-size: 50px;
    position: absolute;
    right: 15px;
    top: 15px;
    line-height: 10px;
}

#productos .modal-dialog .row {
    margin: 0;
    padding: 0;
    height: 100%;
}

#productos .modal-dialog figure {
    overflow: hidden;
    height: 100%;
}

#productos .modal-dialog img {
    width: 120%;
    min-width: 100%;
    filter: none;
}

#productos .modal-dialog .descripcion {
    padding-top: 30px;
}

/*** Contacto ***/
#contacto {
    min-height: 70vh;
    padding-bottom: 40px;
}

#contacto textarea {
    resize: none;
}

/*** Footer ***/

footer {
    background: rgb(100,100,100);
    color: #FFF;
    font-size: 18px;
    font-weight: 200;
    padding-top: 15px;
}

footer .col-* *{
    margin: 0 auto;
    margin-bottom: 5px;
}

footer .row div:first-child {
    text-align: center;
}

footer img {
    max-width: 200px;
    width: 100%;
}

footer .rrss {
    text-align: center;
}

footer ul {
    list-style: none;
}

footer .copyright {
    margin-top: 0;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #FFF;
    border-top: 1px solid rgb(20,173,184);
}

footer a.facebook:before {
    content: "\f09a";
}

footer a.twitter:before {
    content: "\f099";
}

footer a.youtube:before {
    content: "\f16a";
}


footer .rrss a {
    box-shadow: 0 0 0 2px rgba(20,173,184,1);
    overflow: hidden;
    -webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;

    display: inline-block;
    cursor: pointer;
    margin: 15px 25px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 0;
    color: #fff;
    font-family: 'FontAwesome';
}

footer .rrss a:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

    display: none;
}

footer .rrss a:before {
    speak: none;
    font-size: 20px;
    line-height: 40px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}

footer .rrss a:hover {
    background: rgba(20,173,184,1);
    box-shadow: 0 0 0 2px rgba(255,255,255,0.5);
    text-decoration: none;
}


footer .rrss a:hover:before {
    -webkit-animation: toTopFromBottom 0.3s forwards;
    -moz-animation: toTopFromBottom 0.3s forwards;
    animation: toTopFromBottom 0.3s forwards;
}

@-webkit-keyframes toTopFromBottom {
    49% {
        -webkit-transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}
@-moz-keyframes toTopFromBottom {
    49% {
        -moz-transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        -moz-transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}
@keyframes toTopFromBottom {
    49% {
        transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}



@media screen and (max-width: 576px) {
    nav.navbar.affix {
        background: rgba(255,255,255,1);
        box-shadow: 1px 1px 5px rgba(150,150,150,0.3);
    }

    #inicio .marca {
        height: 40vh;
    }

    #inicio .marca img {
        width: 80%;
    }

    #inicio .horizontal-img {
        height: 18vh;
        left: 0;
        border: none;
    }

    #inicio .horizontal-img:nth-child(odd) {
        margin-left: inherit;
    }

    #inicio .horizontal-img:nth-child(even) a{
        margin-left: 40%;
    }

    #inicio .horizontal-img a {
        text-decoration: none;
        position: absolute;
        display: block;
        z-index: 999;
        height: 100%;
        width: 60%;
        background: rgba(20,173,184,.7);
        color: #FFFFFF;
        font-size: 24px;
        text-align: center;
        line-height: 18vh;
        left: 0;
    }

    #nosotros .container,
    #contacto .container,
    #productos .container{
        width: 90%;
    }

    #nosotros figure figcaption {
        font-size: 15px;
    }


    #productos .modal {
        z-index: 9999;
    }

    #productos .modal-dialog {
        width: 95%;
    }

    #productos .modal-dialog figure {
        height: 40vh;
    }

    #productos .modal-content {
        height: 95vh;
        border-radius: 0;
        overflow-y: scroll;
    }

}
